<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {% if config.get('links') %}
                    <ul class="list-inline text-center">
                        {% for link in config.get('links') %}
                            <li>
                                <a href="{{ link.value }}">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-{{ link.name.replace('link_','') }} fa-stack-1x fa-inverse"></i>
                                </span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <p class="copyright text-muted">{{ _('Copyright') }} &copy; {{ config.get('site', 'site_copyright') }}</p>
            </div>
        </div>
    </div>
</footer>