<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <base href="{{ request.url_root }}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block seo_meta %}
        <meta name="description" content="{{ config.get('site', 'site_description') }}">
        <meta name="keywords" content="{{ config.get('site', 'site_keywords') }}">
        <meta name="author" content="{{ config.get('site', 'site_author') }}">
    {% endblock %}
    {% block meta %}{% endblock %}
    <link rel="icon" type="image/x-icon" href=""/>
    <title>{% block title %}{{ config.get('site', 'site_name') }}{% endblock %}</title>
    {% block head %}{% endblock head %}
    {% assets "css-vendor" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css"/>
    {% endassets %}
    {% block head_css %}{% endblock %}
    {% block head_js %}{% endblock %}
<body>
{% block body %}
    {% block navbar %}
        {% include '_navbar.html' %}
    {% endblock %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    {% block header %}
        {% include '_header.html' %}
    {% endblock %}
    <!-- Main Content -->
    {% block content %}
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-preview">
                        <a href="post.html">
                            <h2 class="post-title">
                                Man must explore, and this is exploration at its greatest
                            </h2>
                            <h3 class="post-subtitle">
                                Problems look mighty small from 150 miles up
                            </h3>
                        </a>
                        <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on September 24, 2014</p>
                    </div>
                    <hr>
                    <div class="post-preview">
                        <a href="post.html">
                            <h2 class="post-title">
                                I believe every human has a finite number of heartbeats. I don't intend to waste any of
                                mine.
                            </h2>
                        </a>
                        <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on September 18, 2014</p>
                    </div>
                    <hr>
                    <div class="post-preview">
                        <a href="post.html">
                            <h2 class="post-title">
                                Science has not yet mastered prophecy
                            </h2>
                            <h3 class="post-subtitle">
                                We predict too much for the next year and yet far too little for the next ten.
                            </h3>
                        </a>
                        <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on August 24, 2014</p>
                    </div>
                    <hr>
                    <div class="post-preview">
                        <a href="post.html">
                            <h2 class="post-title">
                                Failure is not an option
                            </h2>
                            <h3 class="post-subtitle">
                                Many say exploration is part of our destiny, but it’s actually our duty to future
                                generations.
                            </h3>
                        </a>
                        <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on July 8, 2014</p>
                    </div>
                    <hr>
                    <!-- Pager -->
                    <ul class="pager">
                        <li class="next">
                            <a href="#">Older Posts &rarr;</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    {% endblock %}
    <hr>
    <!-- Footer -->
    {% block footer %}
        {% include '_footer.html' %}
    {% endblock %}

    {% assets "js-vendor" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% block bottom_js %}{% endblock %}
{% endblock %}
</body>

</html>