{% extends 'admin/base.html' %}

{% block head_css -%}
    {{ super() }}
    {% assets "admin-css-vendor" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css"/>
    {% endassets %}
    {% assets "admin-css-custom" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css"/>
    {% endassets %}
{%- endblock head_css %}

{% block access_control %}
    {% include 'admin/_access_control.html' %}
{% endblock access_control %}
{% block tail_js -%}
    {{ super() }}
    {% assets "admin-js-vendor" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% assets "admin-js-custom" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {{ moment.include_moment() }}
    {{ moment.lang('zh-cn') }}
{%- endblock %}

{% block tail -%}
    <div id="footer">
        {% block footer %}
            <p class="text-center">{{ _('Copyright') }} &copy; LeiYue 2016</p>
        {% endblock %}
    </div>
{%- endblock tail %}