{% from 'lib.html' import icon %}
{% extends 'admin/base.html' %}

{% block head_css -%}
    {{ super() }}
    {% assets "admin-css-vendor" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css"/>
    {% endassets %}
    {% assets "admin-css-custom" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css"/>
    {% endassets %}
{%- endblock head_css %}

{% block access_control -%}
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">{{ icon('user') }} {{ current_user.email }} <span class="caret"></span></a>
            <ul class="dropdown-menu">
                {% if not current_user.is_authenticated -%}
                    <li><a href="{{ url_for_security('login') }}">{{ icon('log-in') }} 登录</a></li>
                {% else %}
                    {% if security.changeable -%}
                        <li><a href="{{ url_for_security('change_password') }}">{{ icon('lock') }} 更改密码</a></li>
                        <li role="separator" class="divider"></li>
                    {%- endif %}
                    <li><a href="{{ url_for_security('logout') }}">{{ icon('log-out') }} 注销</a></li>
                {%- endif %}
            </ul>
        </li>
    </ul>
{%- endblock access_control %}
{% block tail_js -%}
    {{ super() }}
    {% assets "admin-js-vendor" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% assets "admin-js-custom" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{%- endblock %}

{% block tail -%}
    <div id="footer">
        {% block footer %}
            <p class="text-center">&copy; {{ config['AUTHOR_NAME'] or config['COMPANY_NAME'] or config['PROJECT_NAME'] }}
                2016</p>
        {% endblock %}
    </div>
{%- endblock tail %}