{% import 'lib.html' as lib %}
{% import 'admin/layout.html' as layout with context -%}
{% extends 'admin/master.html' %}
{% block body -%}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">{{ _('Change Password') }}</div>
                <div class="panel-body">
                    {#                    {{ lib.quick_form(change_password_form,#}
                    {#                        action=url_for_security('change_password'),#}
                    {#                        form_type='horizontal',#}
                    {#                        button_map={'submit':'primary'},#}
                    {#                        id='change-password-form') }}#}
                    <form action="{{ url_for_security('change_password') }}" method="post" name="change_password_form"
                          class="form form-horizontal" role="form" id="change-password-form">
                        {{ change_password_form.hidden_tag() }}
                        {{ lib.form_field(change_password_form.password, form_type='horizontal',
                            horizontal_columns=('lg', 4, 8), placeholder=_('Please input old password')) }}
                        {{ lib.form_field(change_password_form.new_password, form_type='horizontal',
                            horizontal_columns=('lg', 4, 8), placeholder=_('Please input new password')) }}
                        {{ lib.form_field(change_password_form.new_password_confirm, form_type='horizontal',
                            horizontal_columns=('lg', 4, 8), placeholder=_('Please repeat new password')) }}
                        {{ lib.form_field(change_password_form.submit, form_type='horizontal',
                            horizontal_columns=('lg', 4, 8), button_map={'submit': 'primary'}) }}
                    </form>
                </div>
            </div>
        </div>
    </div>
{%- endblock body %}