<script type="text/javascript">
    function load_html_editor() {
        $('{{selector}}').summernote({
            height: 400,
            minHeight: null,
            maxHeight: null,
            lang: 'zh-CN',
            focus: true
        });
    }

    function destroy_html_editor() {
        $('{{selector}}').summernote('destroy');
    }

    function load_markdown_editor() {
        $('{{selector}}').markdown({
            height: 400,
            savable: false,
            hideable: false,
            iconlibrary: 'fa',
            resize: 'both',
            footer: 'Markdown 语法请参见 http://wowubuntu.com/markdown/',
            language: 'zh',
            fullscreen: {enable: true, icons: 'pen'}
        });

        $('.md-header').show();
        $('.md-footer').show();
        // $('.md-fullscreen-controls').show();
    }

    function destroy_markdown_editor() {
        $('.md-header').hide();
        $('.md-footer').hide();
        // $('.md-fullscreen-controls').hide();
    }
</script>
